/hu.bme.aut.gergelyszaz.BGL.tests/
/hu.bme.aut.gergelyszaz.BGL.ui/
*/target/
*/bin/
*/src-gen/
*/xtend-gen/
*.BGS*/.classpath
*.BGS*/.project
*/.idea/
*.iml
out/
*.idea
*/classes/
BGL/model/
BGL/src/hu/bme/aut/gergelyszaz/BGLRuntimeModule.xtend
BGL/src/hu/bme/aut/gergelyszaz/BGLStandaloneSetup.xtend
BGL/src/hu/bme/aut/gergelyszaz/generator/
BGL/src/hu/bme/aut/gergelyszaz/scoping/
BGL/src/hu/bme/aut/gergelyszaz/validation/