*/target/
*/bin/
*/src-gen/
*/xtend-gen/
*.BGS*/.classpath
*.BGS*/.project
*/.idea/
*.iml
out/
*.idea
*/classes/
.project
.settings
.classpath
.metadata
bgl/model/
bgl/src/hu/gergelyszaz/BGLRuntimeModule.xtend
bgl/src/hu/gergelyszaz/BGLStandaloneSetup.xtend
bgl/src/hu/gergelyszaz/generator/
bgl/src/hu/gergelyszaz/scoping/
bgl/src/hu/gergelyszaz/validation/
bgl.web/WebRoot/
bgl.web/src/